@tailwind base;
@tailwind components;
@tailwind utilities;
 

:root {
    --sunset: #FFD400;
    --sundown: #ccaa00;
}

.heading3 {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.875rem;
    line-height:2.25rem;
}

.Btn1 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.4rem;
    border-width: 4px;
    border-radius: 9999px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    border-color: var(--sunset);
    transition: box-shadow 0.5s, transform 0.5s, background-color 0.35s;
}

.Btn1:hover {
    background-color: var(--sunset);
    box-shadow: 0rem 0.4rem var(--sundown), 0rem 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
    transform: translate(0rem, -0.4rem);
}


.bigborder {
    border-right-width: 2.5rem;
    border-left-width: 2.5rem;
    border-bottom-width: 2.5rem;
    border-color: white;
}

.fpbb {
    border-right-width: 2.5rem;
    border-left-width: 2.5rem;
    border-bottom-width: 2.5rem;
    border-color: rgba(255, 0, 0, 0.0);
    background-origin: content-box;
}

.menudown {
    padding: 0.4rem 0.8rem;
    border-width: 0.2rem;
    border-color: var(--sunset);
    border-radius: 9999px;
    text-transform: uppercase;
    font-weight: 700;
}

.wave {
    position: absolute;
    bottom: -220px;
    left: 0;
    width: 100%;
    height: 206px;
    background: url(../src/png/wave-expanded.png);
    background-size: 1280px 206px;
    animation: animate 4s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.25s);
    background-repeat: repeat-x;
}


.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    background-position-x: 400px;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    background-position-x: 300px;
}

.wave#wave3 {
    z-index: 998;
    opacity: 0.2;
    background-position-x: 200px;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    background-position-x: 100px;
}

@keyframes animate {
    0%,100% {
        transform: translateY(0px);
        transform: scale(1.0);
    }
    50% {
        transform: translateY(10px);
        transform: scale(1.0);
    }

}

.fpText {
    z-index: 998;
}

.fpHeight {
    height: calc(100vh + 180px);
}


label {
    margin-top: 2.5rem;
    margin-bottom: 0.5rem
}

input, textarea {
    border: 1px solid var(--sunset);
    padding: 1rem
}

input::selection, textarea::selection {
    color: black;
    background: var(--sunset);
}


/*Fjerning av bakgrunnsfarge på autofill*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
